#root {
  height: 100vh;
  background-color: beige;
  background-image: url("static/teotbg.png");
  background-size: cover;
}

#root > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}